// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pin {
	height: 400px;
}

.bloque {
	height: 80%;
}

.foto {
	height: 100%;
	display: inline-block;
}

.titulo {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

#titulo1 {
	padding-top: 0.5px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: #D42C02;
}